svg.railroad-diagram {
    background-color: white;
}
svg.railroad-diagram path {
    stroke-width: 1;
    stroke: #c0c0c0;
    fill-opacity: 0;
}
svg.railroad-diagram text {
    font: normal 14px Tahoma;
    text-anchor: middle;
}
svg.railroad-diagram text.label {
    text-anchor: start;
}
svg.railroad-diagram text.comment {
    font: italic 14px Tahoma;
}
svg.railroad-diagram rect {
    stroke-width: 1;
    stroke: #c0c0c0;
    fill: white;
}
svg.railroad-diagram rect[rx~="10"] {
    fill: white;
}
.table th, .table td {
  border-top : 0px;
}